@import url(../day05/reset.css);
@font-face {
    font-family: NotoSansKR-VariableFont_wght;
    src: url(../font/Noto_Sans_KR/NotoSansKR-VariableFont_wght.ttf);
}
body{
    font-family: NotoSansKR-VariableFont_wght;
    color: black;
}
/* inner : 1360px */
.wrap{
    min-width: 1400px;
}
.inner{
    width: 1360px;
    margin: auto;
    box-sizing: border-box;
}
/* 전체 content-box 패딩 120px */
.con-box{
    padding: 120px 0;
}
/* header */
header{
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
}
header .top{
    margin-bottom: 10px;
}
header .top, .menu{
    border-bottom: 1px solid gray; /* 선 긋기 */
    padding-bottom: 10px;
}
header .top a, .menu a{
    color: gray;
    font-weight: 600;
}
header .top a{
    font-size: 13px;
}
header .top>.inner{
    display: flex; /* 양옆으로 */
    justify-content: space-between;
    align-items: center;
    text-align: center; /* 글자 가운데로*/
}
header .inner>.top-left>ul{
    display: flex; /* 글자들 가로 정렬 */
}
header .inner>.top-left>ul>li:not(.after){ /* after 클래스에는 제외하고 넣어주라는 의미 */
    margin: 15px 10px; /* 글자들끼리 띄우기 */
}
header .inner>.top-right>ul{
    display: flex; /* 로그인이랑 KOR 가로 배치*/
}
#g{
    color: rgb(0, 66, 0); /* 민속박물관 글자에 id 생성 후 색넣기*/
}
header .inner>.top-right>ul>li:last-child{
    position: relative; /* 이미지를 이 기준으로 움직이기*/
}
header .inner ul>li{
    margin: 15px 0;
}
header .inner ul>li:not(.after){
    margin: 15px 10px;
}
header .inner>.top-right>ul>li:not(.after){
    margin: 15px 10px; /*로그인 kor사이 간격 띄우기*/
}
header .inner>.top-right img{
    width: 12px;
    position: absolute; /* 이미지를 kor옆으로 맞추기 */
    top: 5px;
    left: 30px;
}
.after::after{
    content: "";
    display: inline-block;
    position: relative;
    top: 2px;
    left: 1px;
    width: 1px; /* 선 1개만 */
    height: 13px; /* 선 높이 */
    background-color: rgb(175, 175, 175); /* 선 색깔 */
    margin: 0 10px; /* 선-글자 간격 */
}
header .menu>.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .menu .menu-left{
    display: flex;
    align-items: center; /* ul이 중간으로 오게 */
}
header .menu .menu-left img{
    margin-right: 30px;
}
header .menu .menu-left ul{
    display: flex;
}
header .menu>.inner>.menu-left>ul>li{
    margin: 0 30px;
}
header .menu>.inner>.menu-left>ul>li>a{
    font-size: 17px;
    color: black;
}
header .menu .menu-right{
    width: 100px;
    height: 35px;
    border: 1px solid rgb(0, 59, 0);
    line-height: 35px;
    border-radius: 50px;
    text-align: center;
}
/* main height : 532px*/
/* slide */
main>.slide{
    width: 100%;
    height: 532px;
    background-image: url(../image/민속박물관/202005111050316900.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
main>.slide .slide-main{
    color: white;
    padding-top: 50px;
}
main>.slide .slide-main1{
    font-size: 60px;
    font-weight: 700;
    padding-bottom: 15px;
}
main>.slide .slide-sub{
    font-size: 28px;
    font-weight: 700;
    padding-bottom: 10px;
}
main>.slide .sub1{
    margin-top: 30px;
}
main>.slide .slide-time{
    display: flex; /*좌우로 벌리기*/
    color: black;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
/* slide-time-right => width 270px*80px */
main>.slide .slide-time>.slide-time-left{
    width: calc(100% - 270px);
    background-color: white;
    height: 80px;
    box-sizing: border-box;
    display: flex;
    align-items: center; /* 세로 정렬 */
    justify-content: center; /* 가로 정렬 */
}
main>.slide .slide-time>.slide-time-left>svg{
    width: 30px;
    height: 30px;
}
main>.slide .slide-time>.slide-time-left>span{
    font-size: 20px;
    font-weight: 700;
    padding: 0 50px 0 10px;
}
main>.slide .slide-time>.slide-time-left>ul{
    display: flex;
    justify-content: center;
    text-align: center;
}
main>.slide .slide-time>.slide-time-left>ul>li{
    margin: 0 30px;
}
main>.slide .slide-time>.slide-time-left>ul>li>strong{
    font-size: 18px;
    font-weight: 700;
    padding: 20px;
}
main>.slide .slide-time>.slide-time-right{
    width: 270px;
    height: 80px;
    box-sizing: border-box;
    background-color: rgb(0, 96, 0);
    color: white;
    line-height: 80px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    position: relative;
}
main>.slide .slide-time>.slide-time-right>svg{
    width: 30px;
    height: 30px;
    position: absolute; /* 위치지정 */
    top: 25px;
}
main>.slide .slide-time>.slide-time-right>svg path{
    stroke: white; /* svg안에 있는 요소들 전부 흰색 */
}
main>.slide .slide-time>.slide-time-right>span{
    padding-left: 40px; /* 글자 위치 조정으로 맞추기 */
}
/* con1 */
main>.con1 .title{
    display: flex;
    justify-content: space-between;
    font-size: 35px;
    font-weight: 700;
    padding-bottom: 20px; /* 글자랑 줄 간격 띄우기*/
    border-bottom: 2px solid black; /* 줄 긋기 */
    margin-bottom: 30px; /* 줄이랑 사진 간격 벌리기*/
}
main>.con1 .title a{
    color: black; /* + 모양 색 변경*/
}
/* img 320*200 */
main>.con1 ul>.list{
    display: flex; /* 사진 옆으로 글자가게끔 */
    padding-bottom: 30px; /* 다음 사진과 간격 벌리기*/
    margin-bottom: 30px;
    border-bottom: 2px solid gray; /* 사진 아래 줄 긋기*/
}
main>.con1 ul>.list>img{
    width: 320px;
    height: 200px;
    margin-right: 30px;
}
main>.con1 ul>.list>ul>li:nth-of-type(1){ /* 첫번째 요소 => 선사시대*/
    font-size: 25px;
    font-weight: 700;
    padding: 20px 0;
}
main>.con1 ul>.list>ul>li:nth-of-type(2){ 
    font-size: 18px;
    padding-bottom: 20px;
}
main>.con1 ul>.list>ul>li:nth-of-type(3){
    font-size: 15px;
    color: gray;
    padding-bottom: 30px;
}
main>.con1 ul>.list>ul>li:nth-of-type(4)>a{ /* 바로가기 부분*/
    color: gray;
}
main>.con1 ul>.list>ul>li:nth-of-type(4)>a>svg{ /* 바로가기 옆 + 아이콘 부분*/
    display: inline-block;
    vertical-align: top; /* 위치조정 */
}
main>.con1 ul>.list-icon{
    display: flex;
    justify-content: center;
}
main>.con1 ul>.list-icon>svg{
    margin: 0 20px;
}
main>.con1 ul>.list-icon span{
    font-weight: 700;
}
/* con2 */
.con2{
    background-image: url(../image/민속박물관/mainCon2_bg.jpg);
    text-align: center;
}
.con2>.inner>.title>div{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 30px;
}
.con2>.inner>.title>span{
    font-size: 20px;
    font-weight: 600;
    color: gray;
}
.after-dot::after{
    content: "";
    display: inline;
    position: relative;
    width: 4px;
    height: 4px;
    background-color: green;
    top: -5px;
    border-radius: 50%;
    margin: 0 10px;
}
.con2>.inner>ul{
    display: flex;
    justify-content: space-between;
    margin: 80px 0;
}
/* img 318*400 */
.con2>.inner>ul img{
    width: 318px;
    height: 400px;
}
.con2>.inner>ul a{
    text-align: left; /* 내용에 글자들 왼쪽으로 빼기*/
}
.con2>.inner>ul a>.part{ /* 유아 부분 설정*/
    width: 50px;
    height: 30px;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
    line-height: 30px;
    margin:  15px 0;
    color: white;
}
.con2>.inner>ul a>.child{ /* 유아 테두리 색 넣기*/
    background-color: rgb(18, 172, 18);
}
.con2>.inner>ul a>.school{ /* 초등 테두리 색 넣기*/
    background-color: rgb(36, 130, 224);
}
.con2>.inner>ul a>.title{ /* 제목 설정*/
    font-size: 18px;
    font-weight: 700;
    color: black;
    margin: 10px 0;
}
.con2>.inner>ul a>.day{ /* 내용 설정 */
    color: gray;
    letter-spacing: -1px;
}
.con2>.inner>a{ /* 전체보기 부분 설정*/
    color: black;
    font-weight: 700;
    border: 1px solid black;
    padding: 10px 50px;
}
/* con3 */
.con3{
    background-image: url(../image/민속박물관/mainCon2_bg.jpg);
    text-align: center;
}
.con3>.inner>.title{ /* 상단 글자 설정*/
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 30px;
}
.con3>.inner>.title>span{ /* 상단 내용 설정*/
    font-size: 20px;
    font-weight: 600;
    color: gray;
}
.con3>.inner>.con3-main{ /* 모양 구성*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0 80px 0;
}
.con3>.inner>.con3-main button{ /* < 이부분 설정*/
    width: 68px;
    height: 68px;
    border: none;
    background-color: rgb(147, 147, 147);
}
.con3>.inner>.con3-main svg path{ /* < 이부분 설정*/
    stroke: white;
}
.con3>.inner>.con3-main>.arrow-left{ /* < 이부분 띄우기*/
    margin-right: 80px;
}
.con3>.inner>.con3-main>.arrow-right{
    margin-left: 80px;
}
.con3>.inner>.con3-main>.image{ /* 겉사진 설정 */
    background-image: url(../image/민속박물관/imgi_48_main_deco_bg_02-BHVkLLTU.jpg);
    padding: 60px 95px;
}
.con3>.inner>.con3-main>.image>img{ /* 속사진 설정 */
    width: 240px;
    height: 336px;
}
.con3>.inner>.con3-main>.text{ /* 본문 설정*/
    background-color: white;
    width: 536px;
    height: 456px;
    padding-left: 80px;
    box-sizing: border-box;
    box-shadow: 3px 3px 10px rgb(225, 225, 225);
}
.con3>.inner>.con3-main>.text p:nth-of-type(1){ /* 제목 설정 */
    font-size: 35px;
    font-weight: 700;
    text-align: left;
    padding: 70px 120px 0 0;
}
.con3>.inner>.con3-main>.text p:nth-of-type(2){ /* 설명 설정*/
    font-size: 15px;
    color: gray;
    padding: 20px 60px 0 0;
    text-align: left;
    letter-spacing: -0.8px;
    margin-bottom: 50px;
}
.con3>.inner>.con3-main>.text>.diff{ /* 난이도 테마시간 부분 설정 */
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}
.con3>.inner>.con3-main>.text>.diff>div{ /* 난이도 테마시간 부분 설정 */
    display: flex;
    align-items: center;
}
.con3>.inner>.con3-main>.text>.diff>div>.svg-img{ /* 이미지에 동그라미 넣기*/
    width: 30px;
    height: 30px;
    background-color: rgb(164, 164, 164);
    border-radius: 50%; /* 둥글게 */
    margin-right: 10px; /* 이미지랑 글자 간격 띄우기 */
}
.con3>.inner>.con3-main>.text>.diff>div>.svg-img>svg{ 
    width: 18px;
    height: 18px;
    padding-top: 5px; /* 별모양이나 타이머모양 가운데로 정렬*/
}
.con3>.inner>.con3-main>.text>.diff>div>.svg-img>svg>svg path{ /* 별,타이머 테두리 색 넣기*/
    stroke: black;
}
.con3>.inner>.con3-main>.text>.diff>div>span:nth-of-type(2){ /* 난이도,테마시간 설정*/
    margin-right: 15px;
    font-weight: 700;
    font-size: 17px;
}
.con3>.inner>.con3-main>.text>.diff>div>span:nth-of-type(3){ /* 별5개짜리랑 '65분'글자 설정*/
    color: gray;
}
.con3>.inner>.con3-main>.text>.diff>div>ul{ 
    display: flex;
    align-items: center;
    margin-right: 50px; /* 난이도 테마시간 분리*/
}
.con3>.inner .text>.detail{ /* 자세히보기 */
    width: 180px;
    height: 50px;
    color: white;
    font-weight: 700;
    background-color: #005e3c;
    line-height: 50px;
}
.con3>.inner>a{ /* 전체보기 설정*/
    color: black;
    font-weight: 700;
    border: 1px solid black;
    padding: 10px 50px;
}
/* con4  656*280 */
.con4>.inner{ /* 가로 정렬 */
    display: flex;
    justify-content: space-between;
}
.con4>.inner>a>div{ /* 사진 크기 설정 */
    width: 656px;
    height: 280px;
    box-sizing: border-box;
}
.con4>.inner>a:first-child>div{ /* 사진 넣기 */
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.8)), url(../image/민속박물관/mainCon2_img2.jpg);
    background-size: cover;
    background-position: center;
}
.con4>.inner>a:last-child>div{
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.8)), url(../image/민속박물관/mainCon2_img3.jpg);
    background-size: cover;
    background-position: center;
}
.con4>.inner>a>div>p:first-child{ /* 제목부분 설정*/
    color: white;
    font-size: 30px;
    font-weight: 700;
    padding: 150px 0 20px 20px;
}
.con4>.inner>a>div>p:last-child{ /* 내용부분 설정 */
    color: white;
    font-size: 18px;
    margin-left: 20px;
    letter-spacing: -1px;
}
/* con5 */
.con5{ /* 박스 설정*/
    display: flex;
    align-items: center;
    padding: 0;
}
.con5>a{ 
    height: 100px;
    display: flex;
    padding: 20px 0;
    width: calc(100% / 2);
    align-items: center;
    color: white;
    box-sizing: border-box;
}
.con5>a:first-child{ /* 박스 색깔 넣기*/
    background-color: rgb(0, 84, 0);
    padding-left: 150px;
}
.con5>a:last-child{
    background-color: rgb(1, 61, 1);
    padding-left: 50px;
}
.con5>a>.icon{ /* 아이콘 동그라미 만들기*/
    width: 50px;
    height: 50px;
    background-color: rgb(3, 41, 3);
    border-radius: 50%;
}
.con5>a svg{ /* 아이콘 설정*/
    width: 30px;
    height: 30px;
    padding: 10px;
    /* 페딩안먹으면 포지션으로 */
}
.con5>a svg path, circle, rect{ /* 아이콘 색깔 넣기*/
    stroke: white;
}
.con5>a>.icon>svg rect{
    fill: white;
}
.con5>a>.text{ /* 글자 설정 */
    font-size: 20px;
    font-weight: 700;
    margin-left: 12px;
    margin-right: 550px;
}
/* footer */
footer{
    padding: 50px 0;
}
footer .footer-menu{ /* 롯데월드 아이콘 라인 설정*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
footer .footer-menu>ul{
    display: flex;
    align-items: center;
}
footer .footer-menu>ul>li{ /* 글자 간격*/
    margin: 0 10px;
}
footer .footer-menu>ul>li>a{
    color: black;
}
#b{
    color: #5925EC;
    font-weight: 700;
}
footer .family-site{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 30px;
}
footer .family-site>div:first-child{
    width: 150px;
    height: 40px;
    background-color: rgb(215, 215, 215);
    color: gray;
    font-size: 13px;
    border-radius: 50px;
    padding-left: 20px;
    line-height: 40px;
    margin-right: 30px;
}
footer .family-site>div:first-child>img{
    width: 15px;
    padding-left: 45px;
}
footer .family-site>div:last-child svg{
    margin: 0 8px;
}
footer .footer-bt{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
}
footer .footer-bt>.bt-left p{
    color: black;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 20px;
}
footer .footer-bt>.bt-left p>img{
    width: 15px;
}
footer .footer-bt>.bt-left div{
    margin-bottom: 10px;
    font-size: 14px;
}
footer .footer-bt>.bt-left div:last-child{
    margin-top: 30px;
    letter-spacing: -1px;
}
footer .footer-bt>.bt-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    letter-spacing: -1px;
}
footer .footer-bt>.bt-right>ul>li{
    display: flex;
    align-items: center;
}
footer .footer-bt>.bt-right>ul>li>.first{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
footer .footer-bt>.bt-right>ul>li>.second{
    width: 44px;
    height: 32px;
    margin-right: 10px;
    margin-left: 50px;
}
footer .fixed-top{
    position: fixed;
    bottom: 15px;
    right: 50px;
    width: 40px;
    height: 40px;
    background-color: white;
    box-shadow: 1px 1px 3px 3px rgb(221, 221, 221);
    border-radius: 50%;
}
footer .fixed-top>svg{
    padding: 13px;
}